.butt{

  width: 5%;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  border-radius: 4px;
  
}

.back{

  background-color: aqua;
}

.first{

  padding: 14px 20px;
}

.second{
  padding: 14px 20px;
}

.kim{
  padding: 14px 20px;
}